# Databricks
DATABRICKS_HOST=https://dbc-2bb4a99b-a265.cloud.databricks.com
DATABRICKS_TOKEN=your_databricks_token

# AWS
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_DEFAULT_REGION=us-east-1
S3_BUCKET=fraud-detect-artifacts

# MLflow
MLFLOW_TRACKING_URI=databricks
MLFLOW_EXPERIMENT_NAME=/fraud-detect/experiments/fraud-detection

# Flask API
FLASK_ENV=development
FLASK_PORT=5000
MODEL_NAME=fraud-detection-model
MODEL_STAGE=Production

# Streamlit
STREAMLIT_PORT=8501
API_BASE_URL=http://localhost:5000
